@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Noto+Sans+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif; // 英數字型
    text-decoration: none;
}

input,
textarea {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: all 0.1s linear;

    &:focus {
        outline: 0.5px solid rgb(101, 211, 101);
        // outline:none;
        border-radius: 2px;
        box-shadow: 0 0 8px rgb(86, 201, 86);
    }

    &:hover {
        // outline: 0.5px solid rgb(2, 183, 2);
    }

    &::placeholder {
        color: rgb(0, 91, 0, 0.5);
        font-weight: 700;
    }
}